.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    min-height: 200px;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid tomato;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.spinner.small {
    width: 30px;
    height: 30px;
    border-width: 3px;
}

.spinner.medium {
    width: 50px;
    height: 50px;
    border-width: 4px;
}

.spinner.large {
    width: 70px;
    height: 70px;
    border-width: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner-message {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
}

@media (max-width: 480px) {
    .spinner-container {
        padding: 30px 15px;
        min-height: 150px;
    }

    .spinner.small {
        width: 25px;
        height: 25px;
    }

    .spinner.medium {
        width: 40px;
        height: 40px;
    }

    .spinner.large {
        width: 60px;
        height: 60px;
    }

    .spinner-message {
        font-size: 14px;
        margin-top: 15px;
    }
}
