# Ignore dependencies
node_modules/

# Ignore environment variables
.env

# Ignore logs
logs/
*.log
npm-debug.log*

# Ignore build outputs
dist/
build/


# Local env files
*.local
.env
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
