.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: white; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.navbar-container{
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.navbar .logo{
    width: 150px;
}

.navbar-menu {
    display: flex;
    gap: 35px;
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    color: #40557e;
    justify-content: space-between;
    cursor: pointer;
}

.navbar-right {
    display: flex;
    gap: 40px;
    cursor: pointer;
    align-items: center;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: #fff4f2;
}

.navbar .active {
    border-bottom: 2px solid #49557e;
}

.navbar .search-icon{
    font-size: 28px;
    color: #49557e;
    position: relative;
    top: 1px;
}

.navbar-cart-icon {
    font-size: 28px;
    color: #49557e;
    position: relative;
}

.navbar-cart-icon .dot{
    position: absolute;
    min-height: 10px;
    min-width: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -4px;
    right: -8px;
}

.navbar-profile{
    position: relative;
    top: 3px;
}

.nav-profile-icon{
    font-size: 28px;
    color: #49557e;
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown::after{
    content: '';
    position: absolute;
    top: -6px;
    right: 0;
    width: 40px;
    height: 10px;
}

.profile-dropdown-icon {
    font-size: 20px;
    color: tomato;
}

.nav-profile-dropdown li{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.nav-profile-dropdown li:hover{
    color: tomato;
    font-weight: 600;
}

@media (max-width: 1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width: 900px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
    }
}
@media (max-width: 750px) {
    .navbar-menu{
        display: none;
    }
}