.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;    
}

.navbar .logo{
    width: max(25%, 200px);
}

.navbar .profile{
    font-size: 40px;
}