.header{
    height: 34vw;
    margin: 110px auto 30px;
    background: url('../../assets/imgs/header-img.jpg') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 55%;
    max-height: 50%;
    bottom: 30%;
    right: 0;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-weight: 500;
    color: #fff;
    font-size: max(4.5vw, 16px);
}

.header-contents p{
    color: #fff;
    font-size: max(1.2vw, 10px);
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    line-height: calc(1.3vw);
    background-color: #fff;
    font-size: max(1vw, 12px);
    border-radius: 50px;
}

@media (max-width: 1050px) {
    .header-contents{
        max-width: 50%;
    }
}

@media (max-width: 750px) {
    .header {
        height: 40vw;
        margin: 80px auto 20px;
    }

    .header-contents{
        max-width: 60%;
        bottom: 25%;
    }

    .header-contents h2{
        font-size: max(3.5vw, 14px);
    }

    .header-contents p{
        display: none;
    }

    .header-contents button{
        padding: 2vw 4vw;
        font-size: max(1.2vw, 11px);
    }
}

@media (max-width: 480px) {
    .header {
        height: 50vw;
        margin: 70px auto 20px;
        border-radius: 10px;
    }

    .header-contents{
        max-width: 65%;
        bottom: 20%;
        gap: 1vw;
    }

    .header-contents h2{
        font-size: max(3vw, 12px);
    }

    .header-contents button{
        padding: 2.5vw 5vw;
        font-size: max(1.5vw, 10px);
    }
}

