.list {
    margin-bottom: 50px;
}

.list-table-format {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.list-table-format.title {
    background-color: #f9f9f9;
}

.list-table-format img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.list-table-format-action{
    display: flex;
    gap: 10px;
}

.list-table-format-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1.6em * 2);
    line-height: 1.6;
}

.list-table-format-action button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.list-table-format-action button:hover {
    background-color: tomato;
}

.list-table-format input{
    width: 100px;
}

@media screen and (max-width: 950px) {
    .list-table-format {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

    .list-table-format.title {
        display: none;
    }
}